{% extends root %}
{% block main %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="{% url 'blogproject:category' post.category.id %}">{{ post.category.name }}</a></span>
                <span class="post-date"><a href="{% url 'blogproject:archives' post.created_time.year post.created_time.month post.created_time.day %}"><time class="entry-date"
                                                          datetime="2012-11-09T23:15:57+00:00">{{ post.created_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ post.author }}</a></span>

                <span class="comments-link"><a href="{{ post.get_absolute_url }}">{{ comment_list|length }} 评论</a></span>
                <span class="views-count"><a href="{{ post.get_absolute_url }}">{{ post.views }} 阅读</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            {{ post.body|safe }}
        </div>
    </article>
    <section class="comment-area" id="comment-area">
        <hr>
        <h3>发表评论</h3>
        <div class="loginPrompt">
            <p><span>亲爱的，你还没有登录哦，请登录后评论   ➡_➡   </span><a href="#" id="login">登录</a></p>
        </div>
        <div class="discuss">
            <form action="{% url 'comments:post' post.pk %}" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <label for="id_comment">评论：</label>
                    {{ form.text }}
                    {{ form.text.error }}
                    <button type="submit" class="comment-btn">发表</button>
                </div>
            </div>    <!-- row -->
        </form>
            <div class="comment-list-panel">
            <h3>评论列表，共 <span>{{ comment_list|length }}</span> 条评论</h3>
            <ul class="comment-list list-unstyled">
                {% for comment in comment_list %}
                    <li class="comment-item">
                        <span class="nickname">{{ comment.name }}</span>
                        <time class="submit-date">{{ comment.created_time }}</time>
                        <div class="text">
                            {{ comment.text }}
                        </div>
                    </li>
                {% empty %}
                    暂无评论
                {% endfor %}
            </ul>
        </div>
        </div>
    </section>
{% endblock %}

{% block Catalog %}
    <div class="widget widget-content">
        <h3 class="widget-title">文章目录</h3>
        {% ifequal state 1 %}
            {{ post.toc|safe }}
        {% else %}
            本文暂无目录
        {% endifequal %}
    </div>
{% endblock %}

